language: php

php:
  - 5.5.9
  - 5.6
  - 7.0
  - hhvm

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev
  - ./sandbox_setup.sh
  
script: cd sandbox;phpunit

after_script:
  - ./sandbox_destroy.sh
